.idea/
.DS_Store
__pycache__/
classification/convertor/
segmentation/convertor/
detection/convertor/
checkpoint_dir/
demo/
pretrained/
upload.py
*.out
classification/output/
classification/pretrained/
classification/ops_dcnv3/build/
classification/ops_dcnv3/DCNv3.egg-info/
*.pth
